.App {
  font-family: sans-serif;
  text-align: center;
  height: 100%;
}

body {
  background-color: #b8bcc0;
  padding: 0;
  margin: 0;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  margin-left: 10px;
  margin-right: 10px;
}

.more {
  padding-top: 20px;
  padding-bottom: 10px;
}

.container {
  position: fixed;
  left: 50%;
  top: 40%;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

.photo {
  object-fit: contain !important;
  background-color: black;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 767px) {
  .photo {
    height: 300px; /* Beispielhöhe für kleinere Bildschirme */
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .photo {
    height: 500px; /* Beispielhöhe für mittelgroße Bildschirme */
  }
}

@media screen and (min-width: 1024px) {
  .CardMedia {
    height: 800px; /* Beispielhöhe für größere Bildschirme */
  }
}
